.article-container {
    width: 70%;
    margin: 3rem auto;

    & > h2 {
        padding: 2rem;
    }

    & h3 {
        color: $teal;
        margin-bottom: 1rem;
    }

    & table {
        margin-bottom: 2rem;
    }

    & th,
    td {
        color: $teal;
        padding: 1rem;
    }
}

.recipe-direction {
    margin-top: 3rem;
}
