.btn {
    display: inline-block;
    background-color: $teal;
    // border: .3rem solid $teal;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.1s ease-in;

    &:hover {
        background-color: $teal-dark;
    }
}
